#main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.lighthead {
    background-color: white;
    
}

.darkhead {
    background-color: #2B3442;
    color: aliceblue;
}
@media screen and (max-width: 420px) {
    #main{
        width: 95%;
        height: 95%;
    }
}
